* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial;
}

body {
    background: black;
    color: rgb(214, 214, 17)
}

.left {
    width: 500px;
    padding-top: 50px;
    padding-left: 100px;
}

.menu {
    background: #504e4e;
    color: rgb(214, 214, 17);
    font-size: 18px;
    font-weight: bold;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.layout {
    background: #5a5757;
    color:rgb(214, 214, 17);
    height: 80px;

    display: flex;
    align-items: center;

    padding-left: 15px;
    font-size: 18px;
}

.docContent p {
    margin-bottom: 20px;
}

.notes {
    max-width: 350px;
    background: #504e4e;
    padding: 1rem 2rem;
    color: rgb(214, 214, 17);
}