body {
    margin: 0;
    font-family: sans-serif;
    background: black;
}

header {
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
    padding: 0;

    justify-items: auto;
}

header details {
    background: #504e4e;
    padding: 1rem 2rem; /*Groter maken */
}

.top {
    display: flex;
    padding: 1rem;
    background: black;
    font-weight: bold;
}

.menu {
    display: flex;
    padding: 1rem;
    background: #504e4e;
    color: rgb(214, 214, 17);
}

.layout {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    padding: 2rem;
}

.documenten {
    flex: 2;
    max-width: 700px;
    background: #504e4e;
    padding: 1rem;
    color: rgb(214, 214, 17)
}

.notes {
    flex: 1;
    max-width: 350px;
    background: #504e4e;
    padding: 1rem;
    color: rgb(214, 214, 17);
}

textarea {
    width: 100%;
    height: 100px;
}