* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial;
}

body {
    background: black;
    color: rgb(214, 214, 17)
}

.left {
    display: flex;
    height: 100vh;
}

/*Linkerkant*/
.left-panel {
    background: #504e4e;
    width: 31rem;
    padding: 20px;
    overflow-y: auto: /*Chatgpt*/
}

/*Rechterkant*/
.right-panel {
    background: #504e4e;
    width: 1rem;
    border: 2px solid rgb(214, 214, 17);
    padding: 20px;
}

/*Verborgen*/
.hidden {
    display: none;
}

/*Alinea's*/
.paragraph {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid rgb(214, 214, 17);
}

/*Buttons*/
button, summary {
    background: black;
    color: rgb(214, 214, 17);
    border: 1px solid rgb(214, 214, 17);
    padding: 10px;
    margin-top: 10px;
}

/*Text gedeelte*/
textarea {
    width: 100%;
    height: 200px;
    background: black;
    color: rgb(214, 214, 17);
    border: 1px solid rgb(214, 214, 17);
}